<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>

<BODY>
    <div class="container">
    
        <div id="rectangle">
            <img src="../img/logo_blekitne.png">
        </div>

        <div id="menu">

            <div id="jelement">
                <a href=#>Home</a>
            </div>

            <a href=file:///C:/Users/Dell/Desktop/moja_apliakcja/public/views/login.html>Login</a>
            <a href=#>Register</a>
        </div>


      </div>
 
        
     
      

      
     



        
    
</BODY>