<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>

<BODY>
    <div id="rectangle">
        <img src="../img/logo_blekitne.png">
    </div>
    
    <div class="container">
    
       

        <div id="menu">

            <div id="jelement">
                <a href=#>Home</a>
            </div>

            <a href=file:///C:/Users/Dell/Desktop/moja_apliakcja/public/views/login.html>Login</a>
            <a href=#>Register</a>
        </div>


        <div class="miejscenanapis">
            <div id="napis">
                <p>Discover chemistry </p>
                <p id="discover">in THE MOST </p>
                <p id="discover">CONVENIENT</p>
                <p>way</p>
                
            </div>
        </div>
       
      </div>

      <div class="dol"><p></p></div>


      <div class="napisopis">
        
        <div class="signup">
            <p>Get started today</p>
            <button>Sign up</button>
        </div>

        <div class="opis">
            <p id="tytul">Discover chemistry</p>
            <p>Create your own blackboard </p>
            <p>and remember that</p>
            <p>learning doesn't have to be boring!</p>
        </div>

        <img src="../img/girl.png">
      </div>
 
        
     
      

      
     



        
    
</BODY>